<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chub Club League</h1>

    <form action="/games">
        <input type="date" name="startDate">
        <input type="date" name="endDate">
        <select name="league">
            <option value="premier-league">Premier League</option>
            <option value="championship">Championship</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    <% if (locals.data) { %>
        <p><%= dates.start %> to <%= dates.end %></p>
    <form action="/submit">
        <select name="type" class="form-select">
                <% for (let i = 0; i < data.length; i++) { %>
                    <option><%= data[i] %></option>
                    
                <% } %>
        </select>
    </form>
    <% } %>

</body>
</html>